.markdown-body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 24px 24px;

  color: #444444;
  font-family: Roboto, Georgia, Palatino, serif;
  line-height: 1;

  h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
  }

  h1, h2, h3, h4, h5, p {
    margin-bottom: 16px;
    padding: 0 0 8px;
  }

  h1 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 32px;
  }

  h2 {
    margin: 24px 0 6px;
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  a {
    margin: 0;
    padding: 0;

    color: #0099ff;
    vertical-align: baseline;
  }

  ul, ol {
    margin: 0;
    padding: 0;
  }

  li {
    line-height: 24px;
  }

  li ul, li ul {
    margin-left: 24px;
  }

  p, ul, ol {
    max-width: 540px;
    font-size: 16px;
    line-height: 24px;
  }

  pre {
    max-width: 800px;
    border-radius: 4px;
    background-color: #d5d5d5;
    padding: 4px 8px;

    white-space: pre-wrap;

    & > code {
      padding: 0;
    }
  }

  code {
    border-radius: 4px;
    background-color: #d5d5d5;
    padding: 2px 4px;

    font-family: "JetBrains Mono", Consolas, Monaco, Andale Mono, monospace;
    font-size: 13px;
    line-height: 1.5;
  }

  aside {
    display: block;
    float: right;
    width: 390px;
  }

  blockquote {
    max-width: 476px;
    margin: 1em 2em;
  }

  blockquote p {
    max-width: 460px;
    color: #666;
  }

  hr {
    width: 540px;
    margin: 0 auto 0 0;

    color: #999;
    text-align: left;
  }

  table {
    margin: 1em 1em;
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  table thead {
    background-color: #eee;
  }

  table thead td {
    color: #666;
  }

  table td {
    border: 1px solid #ccc;
    padding: 0.5em 1em;
  }
}
